body {
  font-family: Inter,sans-serif;
  color: #1d1d1f;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -.2px;
  scroll-behavior: smooth;
}

.frame 
{
  height: 45vh;
  max-width: none;
  min-height: 300px;
  border: 3px solid rgb(255, 255, 255);    
  margin: auto;  
  margin-bottom: 40px;  
}
.frame img {
  height: 90%;
  width: 15rem;
  border-radius: 12px;
  /* box-shadow: 17px 3px 10px -4px rgb(0 0 0 / 20%); */
}

.name
{
  font-weight: 600;
  font-size: 24px;
}

.nameprof
{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -2px;
}

.greet
{
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 90px;
}


@media screen and (max-width:500px) {
  .nameprof{
    font-size: 55px;
    font-weight: 600;
  }  
}

.project-container
{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 90px 0px;
}

.project-box{
  margin-top: 4rem;
  padding: 40px 0;
}

.project-item1
{
  grid-column-start: 1;
  grid-column-end: 3;
}
.project-item1 h1{
  font-weight: 500;
}
.project-item1 h3{
  font-size: 20px;
}
.project-item
{  
  margin: auto;
  width: 100%;
  height: 100%;  
  cursor: pointer;    
}
.project-item img
{
  height: 250px;
  width: 350px;  
  box-shadow: 17px 3px 10px -4px rgb(0 0 0 / 20%);
  /* filter: brightness(93%); */
  transition: transform 800ms;

}

.project-item img:hover{
  filter: brightness(100%);
  transform: translateY(-20px); 
  box-shadow: 0;

}

footer{
  margin-top: 50px;
}

@media screen and (max-width:1010px) {
  .project-container
  {
    grid-template-columns: 1fr;
  }

  .project-item1
  {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
}
@media screen and (max-width:500px) {  
  .project-item img
  {      
    width: 250px;
    height: 200px;    
  
  }
}

.bgcolor
{  
  background-color: #f7f7f7;
}

.bgcolor2{
  background-color: white;
}

.intro-title
{
  padding: 50px 0;
}

.intro-title h3{
  font-weight: 400;
}

.intro-text
{
  padding: 0 0 50px 0;
  letter-spacing: 0.8px;
  color: #86796b;
}
.intro-text p
{
  text-align: left;
  font-size: 18px;
  line-height: 36px;
}

#education{
  padding-top: 50px;
  padding-bottom: 60px;
}

.edu-grid
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 150px;
}

@media screen and (max-width:1010px) {  
  .edu-grid
  {
    grid-template-columns: 1fr;
  }
}

.edu-item-title h3
{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.edu-item-lower-title h6
{
  margin-bottom: 0.3rem;
  font-size: 16px;
    font-weight: 300;
  letter-spacing: 0.5px;
}

.edu-item-desc
{
  margin-top: 1.2rem;
}
.edu-item-desc p
{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4rem;
  color: #666;
}


.skills{
  padding-bottom: 40px;
}

.skills-grid
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 50px;  
}

@media screen and (max-width:600px) {  
  .skills-grid
  {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:300px) {  
  .skills-grid
  {
    grid-template-columns: 1fr;
  }
}

.skill-item p
{
  font-weight: 280;
}

.contact-grid
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px 10px;  
}

.contact
{
  margin-top: 60px;
  padding-top: 50px ;
  padding-bottom: 100px;
}

.contact-item a{  
  margin: 0 15px;
  border-radius: 8px;
  text-decoration: none;  
}

.contact-item a i{
  font-size: 60px;
  color: #777;
  transition: transform 0.5s;
}

@media screen and (max-width:600px) {  
  .contact-grid
  {
    grid-template-columns: 1fr 1fr;
  }
}

.handouts
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;   
  gap: 10px 40px; 
}


.handouts-item
{
  border-radius: 12px;
  padding: 50px;
  background-color: white;
  transition: transform 800ms;
  box-shadow: 17px 3px 10px -4px rgb(0 0 0 / 20%);
}

.handouts-item:hover
{
  transform: translateY(-12px);
}


@media screen and (max-width:600px) {  
  .handouts
  {
    grid-template-columns: 1fr;
  }
  .handouts-item:hover
{
  transform: scale(1.03);
}
}

.handouts-item p{
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.handouts-item a
{
  font-size: 15px;
  font-weight: 300;  
}